.header {
  display: flex;
  justify-content: center;
}

.header__menu {
  margin-top: 92px;
  margin-bottom: 92px;
  width: 1052px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.header__links-list {
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  list-style: circle;
  gap: 33px;
  margin: 44px 19.5px 40px 26.5px;
}

.header_no_decoration {
  text-decoration: none;
  list-style: none;
}

.logo-header {
  display: block;
  width: 137px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
}

.info_type_header {
  padding-left: 190px;
}

.header__address {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 757px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  position: absolute;
  top: auto;
  left: auto;
}

.cover__title {
  letter-spacing: 30px;
  display: block;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: "Raleway" sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  padding: 165px 50px 135px;
  position: relative;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 140px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 100px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-left: 83px;
  padding-right: 50px;
  color: white;
  text-transform: uppercase;
}

.cover__description-text {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 256px;
  height: 51px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Raleway" sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  height: auto;
  margin: 179px 24px auto 24px;
}

.lots__heading {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  max-width: 1052px;
  list-style: none;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  margin-top: 48px;
  max-width: 254px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  margin-bottom: 48px;
  max-width: 254px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  z-index: 1;
}

.lots__look-more-link {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-transform: lowercase;
  margin-left: 40px;
  padding-top: 30px;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 146px;
}

.about__column {
  width: 1052px;
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "left right"
    ". bottom";
  column-gap: 24px;
  row-gap: 7px;
}

.about__logo {
  grid-area: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  margin-top: 37px;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  display: block;
  grid-area: right;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-top: 135px;
}

.about__text {
  display: block;
  grid-area: bottom;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about__text_space {
  margin-bottom: 24px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 178px;
}

.footer__column {
  width: 1000px;
  display: grid;
  grid-template-columns: auto 149px auto;
  gap: 185px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  list-style: none;
}

.footer_no_decoration {
  text-decoration: none;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 46px;
}

.footer_logo {
  width: 48px;
  height: 48px;
}
